* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
  }
  html{
    width:100%;
  }

  body {
    /* height: 100vh; */
    width:100%;
    max-width: 1440px;
    margin: auto;
  }

  .main {
    color: white;
    height: 100vh;
    width: 100%;
    background-image: url("images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  nav {
    display: flex;
    justify-content: right;
    padding: 1px 30px;
  }

  nav .menu {
    padding: 10px 20px;
  }

  nav .menu:hover {
    border-radius: 20px;
    background-color: hsla(206, 71%, 81%, 0.5);
  }

  nav .menu:active {
    border-radius: 20px;
    background-color: white;
    color: black;
  }

  .contact {
    text-transform: uppercase;
  }

  .logo {
    flex-grow: 2;
  }

  .center {
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column; */
    margin:auto;
  }
  .center>img {
    height: 20vh;
    margin-top:10vh;
  }

  h1 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 4em;
    padding-top: 10vh;
    width: 100%;
    text-align: center;
  }

  .content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }

  .content h2,
  p,
  a {
    margin: 2rem;
  }

  .content h2 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 30px;
  }

  .content a {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 16px;
    color: black;
    text-decoration-thickness: 4px;
  }

  .content>.item1 {
    padding: 8.3rem;
    background-color: hsl(0, 0%, 100%);
  }

  .content>.item1 a {
    text-decoration-color: hsl(51, 100%, 49%)
  }

  .content>.item4 {
    padding: 8.3rem;
    background-color: hsl(0, 0%, 100%);
  }

  .content>.item4 a {
    text-decoration-color: hsl(7, 99%, 70%);
  }

  .content>.item2 {
    background-image: url(images/desktop/image-transform.jpg);

  }

  .content>.item3 {
    background-image: url(images/desktop/image-stand-out.jpg);
  }

  .content>.item5 {
    background-image: url(images/desktop/image-graphic-design.jpg);
    padding: 18em 8em 3em;
    text-align: center;
    color: hsl(167, 40%, 24%);
  }

  .content>.item6 {
    background-image: url(images/desktop/image-photography.jpg);
    padding: 18em 8em 3em;
    text-align: center;
    color: hsl(198, 62%, 26%);
  }

  .cont {
    display: flex;
  }

  .testi {
    display: flex;
    flex-direction: column;
    padding: 8em;
    text-align: center;
  }

  .testi>h2 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: hsl(210, 4%, 67%);
    padding-bottom: 2em;
  }

  .testi .people {
    height: 45vh;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  address {
    font-style: normal;
    color: hsl(210, 4%, 67%);
    /* font-size: 1em; */
  }

  address>span {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 23px;
    color: black;
  }

  .people>img {
    border-radius: 50%;
    height: 5em;
    width: 5em;
  }

  .bottom {
    display: flex;
  }

  .bottom>img {
    width: 25%;
  }

  footer {
    background-color: hsl(168, 55%, 72%);
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
    justify-content: space-evenly;
  }

  footer>h2 {
    color: hsl(167, 40%, 24%);
    font-size: 30px;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-family: Barlow;
    font-weight: 800;
  }

  .footnav>a {
    color: hsl(168, 34%, 41%);
    text-decoration: none;
  }

  .smedia {
    display: flex;
    /* margin:1rem; */
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .smedia>a {
    width: 1px;
    height: 1px;
  }

  @media only screen and (max-width: 375px) {
    .main {
      width: 100vw;
      height: 100vh;
      background-image: url("images/mobile/image-header.jpg");
    }
    .center>img {
      padding-top: 0vw;
      margin-top: 9vw;
    }

    h1 {
      font-size: 11vw;
      padding: 3vh 4vw;
      width: 100%;
    }

    .content {
      grid-template-columns: 100%;
      text-align: center;
    }

    .content>.item1 {
      padding: 1rem;
    }

    .content>.item4 {
      padding: 1rem;
    }


    .content>.item2 {
      width: 100vw;
      height: 83vw;
      order: -1;
      background-image: url(images/mobile/image-transform.jpg);
      background-size: cover;

    }

    .content>.item3 {
      width: 100vw;
      height: 83vw;
      background-size: cover;
      background-image: url(images/mobile/image-stand-out.jpg);
    }

    .content>.item5 {
      background-image: url(images/mobile/image-graphic-design.jpg);
      padding: 16rem 0rem 0rem;
      background-size: cover;
    }

    .content>.item6 {
      background-image: url(images/mobile/image-photography.jpg);
      padding: 16rem 0rem 0rem;
      background-size: cover;
    }

    .cont {
      flex-direction: column;
    }

    .cont p {
      margin: 0rem;
    }

    .testi {
      margin-top: 3rem;
      padding: 0em;
    }

    .bottom {
      flex-direction: column;
    }

    .bottom>img {
      width: 100%;
    }
    .footnav>a {
      margin:1rem;
    }
  }